# Compass Configuration
# -----------------------

# Load in our Nesta configs
nesta_config = YAML::load(File.open( File.join("config", "config.yml")))
nesta_theme = nesta_config['theme']

# HTTP paths
http_path             = '/'
http_stylesheets_path = File.join('/', nesta_theme, 'css')
http_images_path      = File.join('/', nesta_theme, 'img')
http_javascripts_path = File.join('/', nesta_theme, 'js')

# File system locations
sass_dir              = File.join('themes/', nesta_theme, 'scss')
css_dir               = File.join('themes/', nesta_theme, 'public', nesta_theme, 'css')
images_dir            = File.join('themes/', nesta_theme, 'public', nesta_theme, 'img')
javascripts_dir       = File.join('themes/', nesta_theme, 'public', nesta_theme, 'js')

# Set to true for easier debugging
line_comments         = false

# CSS output style - :nested, :expanded, :compact, or :compressed
output_style          = :expanded

# Preferred Syntax, either :scss or :sass
preferred_syntax      = :scss

# Determine whether Compass asset helper functions generate relative
# or absolute paths
relative_assets       = true

# Learn more: http://compass-style.org/docs/tutorials/configuration-reference/