%footer.branding
  %p
    Powered by Nesta, a
    %a{ :href => "http://nestacms.com" } Ruby CMS
    
    and created by
    %a{ :href => 'http://briangonzalez.org', :target => '_blank' }= "Brian Gonzalez"

/ As always, javascript at the bottom.
%script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "text/javascript" }
%script{ :src => "/#{Nesta::Config.theme}/js/application.js" }