%footer.branding
  %p
    Powered by Nesta, a
    %a(href="http://nestacms.com") Ruby CMS
    
    and created by
    %a{ :href => 'http://briangonzalez.org', :target => '_blank' }= "Brian Gonzalez"

/ As always, javascript at the bottom.
%script(src="/nestabp-theme/js/application.js")
%script(src="/nestabp-theme/js/prettify.js")